* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 3px;
  scrollbar-width: thin;
  border-radius: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.j_icon {
  border-radius: 100%;
  border: 2px dashed;
  background-color: #018c5e;
}

.url {
  color: yellow;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: darkcyan;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

j_head,
j_body {
  display: grid;
  text-align: center;
}

j_title,
j_title_2 {
  font-weight: bold;
  font-size: 35px;
}

j_title_2 {
  text-decoration: underline;
  font-size: 30px;
}

j_spacer {
  height: 20px;
}

j_spacer_smol {
  height: 10px;
}

j_spacer_smol_smol {
  height: 5px;
}

#prefix {
  color: gold;
  cursor: copy;
}

j_commands {
  display: grid;
  place-items: center;
}

j_commands table {
  width: 70%;
  align-items: center;
  border: 1px solid aqua;
}

j_commands table ._tbl_head {
  color: gold;
}

j_commands table * {
  border: 1px solid #a6bf19e8
}

j_commands .tbl {
  max-width: 10%;
}

j_commands .tbl_retr {
  width: 25px;
}

.tbl_desc {
  max-width: 420px;
}